node_modules
**/node_modules
.pnpm-store

dist
**/dist
dist-dev
build
*.tsbuildinfo
**/*.tsbuildinfo

.env
.env.*

test
**/*.spec.ts
**/*.e2e-spec.ts
coverage
.nyc_output

.git
.gitignore
.gitattributes
.dockerignore
.claude
.superpowers
.specify
skills-lock.json
.vscode
.idea
.eslintcache
.prettierrc
eslint.config.mjs
eslint.typecheck.config.mjs

docs
*.md

*.log
.DS_Store
Thumbs.db
